@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  input {
    outline: none !important;
    width: 100%;
    transition: all 0.3s ease;
    cursor: pointer;
    border-radius: 0.5rem;
  }
  select {
    width: 100%;
    outline: none !important;
    cursor: pointer;
  }
  textarea {
    width: 100%;
    outline: none !important;
  }

  #contact {
    background-image: url("./static/contacts/Asset 199-100.jpg");
  }
  .scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: rgba(100, 100, 100, 0);
    border: 1px solid #ddd;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 1);
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #667;
  }

  .scrollbar-2::-webkit-scrollbar {
    width: 7px;
    height: 5px;
  }

  .scrollbar-2::-webkit-scrollbar-track {
    background: rgba(100, 100, 100, 0);
    border: 1px solid #999;
  }

  .scrollbar-2::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 1);
    border: 1px solid #555;
    border-radius: 100vh;
  }

  .scrollbar-2::-webkit-scrollbar-thumb:hover {
    background: #2d565e;
  }

  .scrollbar-3::-webkit-scrollbar {
    width: 4px;
  }

  .scrollbar-3:hover::-webkit-scrollbar {
    width: 8px;
  }

  .scrollbar-3::-webkit-scrollbar-track {
    background: rgba(100, 100, 100, 0);
    border: none; /* Borde eliminado */
  }

  .scrollbar-3::-webkit-scrollbar-thumb {
    background: #fff; /* Se mantendrá en color blanco */
    border: 1px solid #555;
    border-radius: 100vh;
  }

  .text-shadow {
    text-shadow: #000 1px 0 4px, #000 -1px 0 4px, #000 0px -1px 4px,
      #000 0px 1px 2px;
  }
  .grey {
    filter: invert(14%) sepia(17%) saturate(1218%) hue-rotate(178deg)
      brightness(98%) contrast(97%);
  }
  .green {
    filter: invert(65%) sepia(80%) saturate(45) hue-rotate(100deg);
  }
  .red {
    filter: invert(32%) sepia(56%) saturate(3353%) hue-rotate(341deg)
      brightness(102%) contrast(87%);
  }
  .orange {
    filter: invert(65%) sepia(39%) saturate(6555%) hue-rotate(349deg)
      brightness(97%) contrast(100%);
  }
  .blue {
    filter: invert(47%) sepia(94%) saturate(1544%) hue-rotate(166deg)
      brightness(98%) contrast(89%);
  }
  .black {
    filter: invert(0%) sepia(92%) saturate(1486%) hue-rotate(17deg)
      brightness(74%) contrast(92%);
  }
  .white {
    filter: invert(99%) sepia(77%) saturate(137%) hue-rotate(232deg)
      brightness(116%) contrast(100%);
  }
  .yellow {
    filter: invert(83%) sepia(23%) saturate(4994%) hue-rotate(341deg)
      brightness(95%) contrast(98%);
  }
  .cyan {
    filter: invert(49%) sepia(76%) saturate(466%) hue-rotate(134deg)
      brightness(94%) contrast(94%);
  }
  .cyanDark {
    filter: invert(47%) sepia(7%) saturate(3092%) hue-rotate(137deg)
      brightness(88%) contrast(79%);
  }
  .pink {
    filter: invert(22%) sepia(58%) saturate(7458%) hue-rotate(319deg)
      brightness(78%) contrast(106%);
  }
}
.pinkDark {
  filter: invert(7%) sepia(41%) saturate(6382%) hue-rotate(316deg)
    brightness(93%) contrast(97%);
}
@layer components {
  .inputAdmin {
    @apply border-slate-300 focus:border-green-400 hover:shadow-green-200 w-full text-slate-600 font-semibold px-3 py-1 rounded-md border outline-none  hover:shadow-sm transition-all duration-200;
  }
  .capitalize-first::first-letter {
    text-transform: capitalize;
  }
  .center-r {
    @apply flex justify-center items-center;
  }
  .center-c {
    @apply flex flex-col justify-center items-center;
  }
  .base-th-class {
    @apply bg-slate-700 text-white p-1;
  }
  .base-th-class-green {
    @apply bg-green-500 text-white p-1;
  }
  .style-input-black {
    @apply focus-within:text-slate-700 focus-within:ring-slate-700 focus-within:border-slate-700;
  }
  .style-input-green {
    @apply focus-within:text-green-500 focus-within:ring-green-500 focus-within:border-green-500;
  }
  .style-input-red {
    @apply focus-within:text-red-500 focus-within:ring-red-500 focus-within:border-red-500;
  }
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("./static/fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("./static/fonts/Poppins/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Poppins-Extrabold";
  src: url("./static/fonts/Poppins/Poppins-Extrabold.ttf");
}
@font-face {
  font-family: "Poppins-Semibold";
  src: url("./static/fonts/Poppins/Poppins-Semibold.ttf");
}
